{% extends "homepage/base.html" %}
{% load static %}

{% block fullwidth %}

<div style="overflow-x: auto; margin: 20px;">
  <table style="width: 100%; border-collapse: collapse; font-size: 19px; font-weight: bold; text-align: center; border: 1px solid #ccc;">
    <thead style="background-color: #004080; color: white;">
      <tr>
        <th style="padding: 12px;">S.No</th>
        <th style="padding: 12px;">Year</th>
        <th style="padding: 12px;">Title</th>
        <th style="padding: 12px;">PDF Link</th>
      </tr>
    </thead>
    <tbody>
      {% for mag in magazines %}
      <tr>
        <td style="padding: 10px;">{{ forloop.counter }}</td>
        <td style="padding: 10px;">{{ mag.year }}</td>
        <td style="padding: 10px; ">{{ mag.title }}</td>
        <td style="padding: 10px;">
          {% if mag.pdf %}
            <a href="{{ mag.pdf.url }}" target="_blank" class="btn btn-outline-primary btn-sm">View PDF</a>
          {% else %}
            Not available
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
