{% extends "homepage/base.html" %}
{% block fullwidth %}
<div class="container py-4">
  <h2 class="text-center mb-4">{{ submenu.title }}</h2>

  {% for block in content_blocks %}
    <div class="mb-5">
      {% if block.heading %}
        <h4 class="text-info">{{ block.heading }}</h4>
      {% endif %}

      {% if block.content %}
        <p style="line-height: 1.8;">{{ block.content|linebreaks }}</p>
      {% endif %}

      {% if block.table_html %}
        <div class="table-responsive my-3">
          {{ block.table_html|safe }}
        </div>
      {% endif %}

      {% if block.image %}
        <img src="{{ block.image.url }}" class="img-fluid mb-3" />
      {% endif %}

      {% if block.file %}
        <a href="{{ block.file.url }}" class="btn btn-sm btn-outline-secondary" download>Download File</a>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endblock %}
