{% extends 'homepage/base.html' %}
{% block content %}
<h2>{{ submenu.title }}</h2>
{% for block in content_blocks %}
  {% if block.heading %}
    <h3>{{ block.heading }}</h3>
  {% endif %}
  {% if block.content %}
    <p>{{ block.content|linebreaks }}</p>
  {% endif %}
  {% if block.image %}
    <img src="{{ block.image.url }}" class="img-fluid my-3" alt="">
  {% endif %}
  {% if block.table_html %}
    <div class="table-responsive">
      {{ block.table_html|safe }}
    </div>
  {% endif %}
  {% if block.pdf %}
    <p><a href="{{ block.pdf.url }}" target="_blank">View PDF</a></p>
  {% endif %}
  <hr>
{% endfor %}
{% endblock %}
