<div class="d-flex align-items-center ps-3 header-wrap">
  <div class="d-flex align-items-center">
    <!-- Logo Left -->
    <img src="{{ college_info.logo.url }}" height="80" class="me-3" alt="College Logo">

    <!-- College Text Right -->
    <div class="college-text text-start">
      <h4 class="college-name mb-0">{{ college_info.college_name }}</h4>
      <h6 class="college-sub mb-0">(Affiliated to Madurai Kamaraj University)</h6>
      <p class="college-sub mb-0">Rajapalayam - 626117, Tamilnadu</p>
    </div>
  </div>
</div>
