{% extends 'homepage/base.html' %}
{% block content %}
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    {% for img in content.sliders.all %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner">
    {% for img in content.sliders.all %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ img.image.url }}" class="d-block w-100 img-fluid" alt="Slide {{ forloop.counter }}">
        {% if img.caption %}
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ img.caption }}</h5>
        </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



{% endblock %}