<nav class="navbar navbar-expand-lg navbar-dark w-100">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">HOME</a>
        </li>
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">ABOUT</a>
  <ul class="dropdown-menu">
    {% for menu in about_menus %}
      <li><a class="dropdown-item" href="{% url 'about_detail' menu.id %}">{{ menu.title }}</a></li>
    {% endfor %}
  </ul>
</li>

    

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="academicDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    ACADEMIC
  </a>
  <ul class="dropdown-menu" aria-labelledby="academicDropdown">

    <li><a class="dropdown-item" href="{% url 'department_list' %}">Department</a></li>

    {% for submenu in academic_submenus %}
        {% if submenu.slug != "department" %} 

      <li>
        <a class="dropdown-item" href="{% url 'academic_detail' submenu.slug %}">
          {{ submenu.title }}
        </a>
      </li>
     {% endif %} 
    {% endfor %}
  </ul>
</li>


        <!-- Student’s Desk Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="studentsDeskDropdown" role="button" data-bs-toggle="dropdown">
            STUDENT’S DESK
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="studentsDeskDropdown">
            {% for menu in student_desk_menus %}
              <li>
                <a class="dropdown-item d-flex justify-content-between align-items-center" href="{% url 'student_desk_detail' menu.slug %}">
                  {{ menu.title }}
                  <i class="bi bi-arrow-right-short"></i>
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="naacDropdown" role="button" data-bs-toggle="dropdown">
    NAAC
  </a>
  <ul class="dropdown-menu">
    {% for item in naac_submenus %}
      <li><a class="dropdown-item" href="{% url 'naac_detail' item.slug %}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</li>

    <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="activitiesDropdown" role="button" data-bs-toggle="dropdown">
    ACTIVITIES & ALUMNI
  </a>
  <ul class="dropdown-menu" aria-labelledby="activitiesDropdown">
    {% for section in nav_sections %}
      {% if section.children.all %}
        <!-- Parent with children -->
        <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="#">{{ section.name }}</a>
          <ul class="dropdown-menu">
            {% for child in section.children.all %}
              <li>
                <a class="dropdown-item" href="{% url 'activity_detail' child.slug %}">{{ child.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <!-- Parent without children -->
        <li><a class="dropdown-item" href="{% url 'activity_detail' section.slug %}">{{ section.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</li>
    

                <li class="nav-item"><a class="nav-link" href="#">Staff login</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Student login</a></li>


      </ul>
    </div>
  </div>
</nav>

        
<script>
  document.querySelectorAll('.dropdown-submenu .dropdown-toggle').forEach(function(el) {
    el.addEventListener('click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      const submenu = this.nextElementSibling;
      if (submenu) {
        submenu.classList.toggle('show');
      }
    });
  });
</script>
