{% extends 'staff/base_staff.html' %}
{% block content %}
  <h3>My Profile</h3>
  <img src="{{ profile.photo.url if profile.photo else static 'images/default.png' }}" width="120" class="mb-3 rounded-circle">
  <ul class="list-group">
      <li class="list-group-item"><strong>Name:</strong> {{ request.user.get_full_name }}</li>
      <li class="list-group-item"><strong>Email:</strong> {{ request.user.email }}</li>
      <li class="list-group-item"><strong>Department:</strong> {{ profile.department }}</li>
      <li class="list-group-item"><strong>Phone:</strong> {{ profile.phone }}</li>
  </ul>
  <a href="{% url 'staff:profile_edit' %}" class="btn btn-primary mt-3">Edit Profile</a>
{% endblock %}
