{% extends 'homepage/base.html' %}
{% block fullwidth %}

<div class="container my-5">
  <h2 class="text-center mb-4">Departments</h2>
  <div class="row">
    {% for dept in departments %}
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url 'department_detail' slug=dept.slug %}">
          <div class="card h-100 shadow-sm text-center">
            {% if dept.image %}
              <img src="{{ dept.image.url }}" class="card-img-top img-fluid" style="height: 150px; object-fit: cover;" alt="{{ dept.name }}">
            {% else %}
              <img src="{% static 'images/noimage.jpg' %}" class="card-img-top img-fluid" alt="No Image">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ dept.name }}</h5>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
