{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <h2 class="text-center mb-4">Departments</h2>
  <div class="row">
    {% for dept in departments %}
      <div class="col-md-4 col-sm-6 mb-4">
        <a href="{% url 'department_detail' dept.slug %}" style="text-decoration: none;">
          <div class="card h-100 shadow-sm text-center">
            {% if dept.image %}
              <img src="{{ dept.image.url }}" class="card-img-top img-fluid" alt="{{ dept.name }}" style="height: 160px; object-fit: cover;">
            {% else %}
              <img src="{% static 'images/noimage.jpg' %}" class="card-img-top img-fluid" alt="{{ dept.name }}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title text-uppercase">{{ dept.name }}</h5>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
