{% extends "homepage/base.html" %}
{% block fullwidth %}
<div class="container py-4">
  <h2 class="text-center mb-4">{{ extension.name }}</h2>

  <!-- Tabs -->
  <ul class="nav nav-tabs mb-3" id="extensionTab" role="tablist">
    {% for section in content %}
      <li class="nav-item" role="presentation">
        <button class="nav-link {% if forloop.first %}active{% endif %}" id="{{ section|slugify }}-tab"
                data-bs-toggle="tab" data-bs-target="#{{ section|slugify }}" type="button" role="tab">
          {{ section|title }}
        </button>
      </li>
    {% endfor %}
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="extensionTabContent">
    {% for section, blocks in content.items %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ section|slugify }}" role="tabpanel">
      {% for block in blocks %}
        {% if block.heading %}
          <h4 class="mt-3 text-primary">{{ block.heading }}</h4>
        {% endif %}

        {% if block.description %}
          <p style="line-height: 1.8;">{{ block.description|linebreaks }}</p>
        {% endif %}

        {% if block.table_html %}
          <div class="table-responsive my-3">
            {{ block.table_html|safe }}
          </div>
        {% endif %}

        {% if block.image %}
          <img src="{{ block.image.url }}" class="img-fluid my-2" />
        {% endif %}

        {% if block.file %}
          <a href="{{ block.file.url }}" class="btn btn-outline-dark btn-sm" download>Download File</a>
        {% endif %}
        <hr>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
